*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-area {
    background-color: #355723;
    background-position: center center;
    background-size: cover;
  }
  /* default css end */
  
  /* navbar regular css start */
  .navbar-area {
     border-bottom: 1px solid #000;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  /* navbar regular css end */
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span,
  .nav-toggler span:before,
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  
  /* intro-area css end */
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    } 
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */
  
  body{
    background-color:whitesmoke;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the images horizontally */
    gap: 20px; /* Adjust the gap between images */
  }
  
  .image {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .image p {
    margin-top: 10px;
    font-weight: bold;
  }
  
  h1{
      color: #355723;
      font-family: "Source Sans 3";
      font-weight: 400;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      margin: 0%;
  }
  h2{
      color: #355723;
      font-family: "Source Sans 3";
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      margin: 0%;
  }
  h3{
    color: #5b1a04;
    font-family: "Source Sans 3";
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    margin: 0%;
  }
  
  h4{
      color: #355723;
      font-family: "Source Sans 3";
      font-weight: 400;
      font-size: 26px;
      line-height: 1.2;
      text-align: center;
      margin: 0%;
  }
  
  
  
  h5{
  
      color: #5b1a04;
      font-family: "Helvetica";
      font-weight: 400;
      font-size: 22px;
      line-height: 1.3;
      text-align: center;
      margin: 0%;
  }
  
  .form-group label[for="email"] {
    width: 117px;
    height: 34px;
    color: #355723;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
  }
  
  .form-group label[for="phone"] {
    width: 117px;
    height: 34px;
    color: #355723;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
  }
  
  .form-group label[for="date"] {
    width: 117px;
    height: 34px;
    color: #355723;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
  }
  
  .form-group label[for="reason"] {
    width: 117px;
    height: 34px;
    color: #355723;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
  }
  
  .form-group label[for="description"] {
    width: 117px;
    height: 34px;
    color: #355723;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
  }
  .custom-hr {
      width: 800px;
      height: 1%;
      padding: 1px;
      background: #355723;
  }
  
  .custom-hr1 {
    width: 800px;
    height: 1%;
    padding: 1px;
    background: #5b1a04;
  }
  
  .image h2 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
  }
  
  .contactContainer {
    width: 100%;
    height: 300px;
    background-color: lightgray;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .textInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .custom-button {
    width: 155px;
    height: 50px;
    padding: 0px 10px 0px 10px;
    background: #5b1a04;
    color: #fff1d7;
    border-color: #5b1a04;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  footer a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  .footer {
      background-color: #355723;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
   .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
   .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
   .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
   .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
   .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
   .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #0b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
   .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
   .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
   .footer-social-amoeba-path {
      fill: #0b9a;
  }
   .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
   .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
   .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
   .footer-social-icon-svg {
      display: block;
  }
   .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
   .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
   .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
   .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
   .footer-copyright {
      background-color: #0b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
   .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
   .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
   .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
   /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
   }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
   }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
   }
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
     .footer-wave-svg {
        height: 50px;
    }
     .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    .footer-content-column {
        width: 49.99%;
    }
  }
  
  