<!DOCTYPE html>
<html>
<head>
  <title>404 - Page Not Found</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
    }
    h1 {
      font-size: 48px;
      color: #FF0000;
    }
    p {
      font-size: 24px;
      color: #333333;
    }
    img {
      margin-top: 50px;
      width: 300px;
    }
  </style>
</head>
<body>
  <h1>Oops! Page Not Found</h1>
  <p>Looks like your lost again zoro</p>
  <img src="imgs/zoro.jpeg" alt="Lost Penguin" />
  <p>But don't worry, we've sent for the strawhat crew to find the page!</p>
  <p>In the meantime, you can go <a href="/">back to the homepage</a>.</p>
</body>
</html>
