<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/apiStyle.css" />
    <title>AirQualityInfoPage</title>
  </head>
  <body>
    <div class="static-section">
      <!-- This could also be a css background image for the hero title, decide when further -->
      <img class="hero-image" src="../AirQualityAPI.jpg" alt="Image of smoggy city" />
      <p class="info-blurb">
        Air quality refers to the composition and cleanliness of the air we breathe. It is a vital
        aspect of environmental health that directly impacts human well-being, ecosystems, and the
        planet as a whole. Air pollution, caused by human activities like industrial emissions and
        vehicle exhaust, poses serious health risks and harms ecosystems. It contributes to
        respiratory diseases, cardiovascular issues, and premature death. Additionally, air
        pollution damages biodiversity, causes acid rain, and contributes to climate change through
        greenhouse gas emissions. Strict regulations, clean energy, sustainable transportation, and
        public awareness are essential for combating air pollution and creating a healthier, more
        sustainable future.
      </p>
      <p class="input-command">
        Enter a state name below to learn about the air quality in your area!
      </p>
      <form class="" action="/air" method="post">
        <input id="city" type="text" name="city" placeholder="City" required />
        <!-- Whatever name you put on your input is what will be sent as the json key for your form -->
        <button type="submit" name="button">Search</button>
      </form>
    </div>
    <hr class="brown-hr" />
    <div class="api-info">
      <h2>Air Quality in <%= typeof city !== 'undefined' ? city : "" %></h2>
    </div>
  </body>
</html>
