<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loss/GainsInfoPage</title>
  </head>
  <body>
    <p>Hello, this is the loss and gains info page!</p>
    <form class="" action="/" method="post">
      <label for="state">State:</label>
      <input id="state" type="text" name="stateName" required />
      <!-- Whatever name you put on your input is what will be sent as the json key for your form -->
      <button type="submit" name="button">Click Here</button>
    </form>
  </body>
</html>
